<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<!-- <suite name="Hybridframework" thread-count="2" parallel="methods"> -->
<suite name="Hybridframework">
	<test name="Banking Application"> 
		<parameter name="browser" value="chrome"/>
			<classes>
				<class name="com.inetbank.testcases.TC_LoginTest_001"/>
			</classes>
	</test>
</suite>